/* MEME GALLERY */

.meme-gallery {
    padding-inline-start: 2rem;
}

.meme-gallery img, .saved-memes-container img {
    width: 200px;
    height: 200px;
    margin: .5rem;
    border: 1px solid black;
    transition: opacity .3s;
}

.meme-gallery img {
    cursor: pointer;
}

.memes {
    text-align: center;
}

.meme-gallery img:hover {
    opacity: 0.7;
}

@media (max-width: 640px) {
    .meme-gallery img {
        width: 200px;
        height: 200px;
        margin: .25rem;
    }
}

@media (max-width: 480px) {
    .meme-gallery {
        padding: 0;
        padding-inline-start: 4rem;
    }
    .meme-gallery img, .memes img {
        width: 140px;
        height: 140px;
    }
}