* {
    box-sizing: border-box;
}

/* BASE */

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: url('../img-cover/default.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background .3s;
}

button {
    cursor: pointer;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type="color"] {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAV */

.nav {
    background-color: rgba(145, 165, 162, 0.5);
    border-bottom: 1px solid #000;
    box-shadow: -9px 3px 10px 0px #222831;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    transition: 0.6s;
}

.logo:hover {
    transform: scale(1.4);
    transform: rotate(360deg);
}

.logo span:not(:last-child) {
    color: rgb(2, 90, 105);
}

.logo span:last-child {
    color: white;
}

.main-nav {
    margin: 0;
}

.main-nav li {
    border: 1px solid #06060699;
    border-width: 0px 1px 0px 1px;
}

.main-nav li a {
    background-color: rgba(105, 105, 105, 0.3);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    min-width: 120px;
    transition: background-color .7s, color .7s;
}

.main-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* BACKGROUNDS */

.backgrounds {
    background-color: rgba(195, 218, 228, 0.5);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.backgrounds button {
    font-size: 1rem;
    padding: 5px;
    transition: .5s;
}

.backgrounds button:last-of-type {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-inline-start: 10px;
    width: 3rem;
}

/* FOOTER */

.page-container {
    position: relative;
    min-height: 100vh;
}

.main-content {
    padding-bottom: 5rem;
}

.main-footer {
    background-color: rgba(250, 255, 227, 0.4);
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.footer-container {
    justify-content: space-around;
}

.footer-container h2, h3 {
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-shadow: 1px -1px 5px #1e1f20;
    cursor: default;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 0 10px;
    padding: 10px;
    width: 2rem;
    height: 2rem;
    transition: .3s;
}

.footer-container a.fb {
    background-color: #0d8af0;
    color: white;
}

.footer-container a.gh {
    background-color: black;
    color: white;
}

.footer-container a:hover {
    transform: scale(1.2);
    transition: transform .3s;
}

/* HELPERS */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.col {
    flex-direction: column;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
}

.hide {
    display: none;
}

/* RESPOSIVENESS */

@media (max-width: 1050px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width:860px) {
    html {
        font-size: 14px;
    }
    .container {
        max-width: 600px;
    }
    .footer-container h2, h3 {
        font-size: 1rem;
    }
    .main-nav li a {
        min-height: 75px;
        min-width: 75px;
        font-size: 0.75rem;
    }
    .logo {
        font-size: 1.5rem;
    }
}

@media (max-width: 620px) {
    .container {
        max-width: 480px;
    }
    .logo {
        padding-inline-end: 1.1rem;
    }
    .footer-container h2, h3 {
        font-size: 1rem;
    }
}